/* Base */
body {
  font-family: 'Libre Baskerville', serif;
  background-color: #fdfbf7;
  color: #111;
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
}

/* Masthead */
.masthead {
  margin-bottom: 0px;
}

.masthead h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 0px;margin-bottom: 0px;
    font-variant: small-caps;
  font-weight: bold;
}

.descriptionLine {
  font-size: 1rem;
  font-style: normal;
}

/* Navigation */
nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin: 10px 0;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
}

nav a:hover {
  text-decoration: underline;
}

.section{
  margin-bottom: 0px;
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: normal;
  font-variant: small-caps;
}

.lead-story {
  margin-bottom: 0px;
}

.tagline {
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

.byline {
  font-size: 0.9rem;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
   margin-left: 10%;
}

/* Articles */
article {
  padding-top: 0px;
  margin-bottom: 0px;
}

article h3 {
  font-family: 'Playfair Display', serif;
  font-family: 'Playfair Display', serif;
   font-variant: normal;
     text-indent: 10%;
}

/* Projects / Issues list */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  border-top: 1px solid black;
  padding: 0px 0;
  font-size: 0.95rem;
   font-variant: normal;
  
}
ul li:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  max-width: 600px;
}


